nav img {
    width: 85px;
    height: 85px;
    padding: 4px;
    bottom: 0;
    right: 0;
}

nav a{
    font-size: 1.5rem;
}



h5{
    text-align: center;
}

.card{
    margin-top: 2rem;
}
.card-img{
    margin: auto;
    padding-top: 15px;
    height: 100px;
    width: 100px;
}

.btn{
    margin: auto;
}

.info{
    background: #ddd;
    box-shadow: rgba(23, 20, 20, 0.624);
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(2, 1fr);
    padding: 3rem;
}

.box1{
    padding: 3rem;
    text-align: center;
}
/* footer */
footer{
    background: #333;
    color: #fff;
    padding: 3rem;
    
}

.footer{
    left: 0;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    background-color: #353b48;
}

@media(max-width: 700px){
    h1{
        font-size: 2.5rem;
    }

    h2{
        font-size: 2rem;
    }

    
    .info{
        display: block;
        text-align: center;
    }
}

