<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="icon" type="image/jpg" href="../img/favicon.png"/>
    <!-- Boostrap css -->
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <!-- Mi css -->
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <!-- inicia nav -->
    <div class="container-fluid bg-primary">
        <div class="container bg-primary">
            <nav class="navbar navbar-expand-lg navbar-dark">
                <div class="container-fluid">
                    <a href="../index.html"><img src="../img/Logo.svg" alt="logo"></a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0"><hr>
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="#">Adoptar</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Contacto</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Apoyanos
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="#">Donar</a></li>
                        <li><a class="dropdown-item" href="#">Voluntariado</a></li>
                        </ul>
                        </li>
                    </ul>
                    </div>
                </div>
            </nav>
        </div>
    </div>
    <!-- termina nav -->
    <section class="box">
        <div>
            <h1>Ayuda y Contacto</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam fugiat nam amet nostrum. Tenetur dignissimos veniam voluptatibus harum officia corrupti veritatis, sequi quam dolorem nisi, voluptatum incidunt saepe exercitationem rem?</p>
        </div>
        <div class="info">
            <h2>Nuestros numeros de contacto</h2>
            <div>
            <p>+123456789</p>
            <p>+987654321</p>
            <p>+987665312</p>
            </div>
        </div>
    </section>
    <!-- Formulario de contacto -->
<section class="container-fluid box">
    <h2>Escribenos</h2>
    <form>
        <div class="row">
            <div class="col">
            <input type="text" class="form-control" placeholder="Nombre">
            </div>
            <div class="col">
            <input type="text" class="form-control" placeholder="Apellido">
            </div>
        </div>
        <div class="col mb-2 box">
            <label for="Asunto">
            <input type="text" class="form-control" placeholder="Asunto">
            </label>
        </div>
        <div class="form-group">
            <label for="exampleFormControlTextarea1">Tu Mensaje Aqui:</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>
        <div class="form-check box">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">Notificame</label>
        </div>
        <button type="submit" class="btn btn-primary">Enviar</button>
    </form>
    
</section>

    <!-- Footer -->
<footer class="footer">
    <div class="container-fluid">
        <h3>Nuestras Redes</h3>
        <a href="https://www.facebook.com">
            <img src="../img/facebook.png" alt="facebook">
        </a>
        <a href="https://twitter.com">
            <img src="../img/twitter.png" alt="twitter">
        </a>
    </div>
    <div class="container-fluid">
        <h3>Encuentranos</h3>
        <ul>
            <li>lorem123456</li>
            <li>lorem987545</li>
        </ul>
    </div>
    <div class="container-fluid">
        <h3>Contactanos</h3>
        <ul>
            <li>+123456789</li>
            <li>+987654321</li>
        </ul>
    </div>
</footer>
</body>
</html>